<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Student</title>
</head>
<body>
    <h1>Add New Student</h1>
	<form method="POST" enctype="multipart/form-data" action="{{ url_for('add_student') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="enrollment_number">Enrollment Number:</label>
        <input type="text" id="enrollment_number" name="enrollment_number"><br><br>
        <label for="course">Course:</label>
        <input type="text" id="course" name="course"><br><br>
        <label for="image_file">Image File:</label>
        <input type="file" id="image_file" name="image_file"><br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>     




	