{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Face Recognition Attendance System</title>
</head>
  <body>
    <h1>Welcome to ALU Face Recognition Attendance System</h1>
    <div>
      <a href="/add_student"><button>Add Student</button></a><br><br>
      <a href="/attendance"><button>Take Attendance</button></a>
    </div>
  </body>
</html>
